  @charset "UTF-8";

  * {
    font-family: Arial, Helvetica, sans-serif;
    
  }

  body  {
      background-image:linear-gradient(to right, #015366,#0490af);
  }

  main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(8, 63, 117, 0.836);
    width: 600px;
    padding: 10px;
    margin: auto;
  }

  h1 {
      color: #76E1E6;
      text-align: center;
      text-shadow: 1px 1px 0px #1e4c66b7;
  }

  h2 {
      color: #45D2E6;
  }

 p  {
     text-align: justify;
 }