@charset "UTF-8";

body {
    background-color: rgb(28, 83, 146);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(45, 53, 61);
}

h1#principal {
    text-align: center;
    background-color: black;
}

h2 {
    color: darkgoldenrod;
}

.basico {
    color: gold;
}

.intermediario {
   color: ivory;
}

.avancado {
    color: rgb(5, 197, 223);
}

.destaque {
   background-color: rgb(52, 16, 182);
}