      @charset "UTF-8";

      body {
            background-color: rgb(86, 166, 219);
            font-family: Arial, sans-serif;
        h1 {
            color: blue;
            background-color: rgb(238, 189, 189);
            }
        }

        h2 {
            color: green;
        }
        p {
            text-align: justify;
        }